$d-green: #00474b;
$l-green: #f3f8fb;
$danger: #d46f65;
$while: #fafafa;

$btn-dsb-bg: #0d686d;
$btn-actv-bg: #9fe8df;

$inpt-bor: #5aaaa1;

$tit-text: #61989b;

.home-page {
  background-color: #c5e4e7;
}

.container {
  background-color: $while;
  border-radius: 2rem;
  width: 92rem;
  padding: 3rem;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  .caculator {
    display: grid;
    grid-template-columns: calc(50% - 4rem) calc(50% - 4rem);
    grid-gap: 8rem;

    &__key {
      display: flex;
      flex-direction: column;

      .title {
        font-size: 1.3rem;
        font-weight: 750;
        color: $d-green;
        margin-bottom: 1.3rem;
        display: flex;
        span {
          display: none;
        }
      }

      &-input {
        .input-group {
          height: 5rem;
          border-radius: 1.5rem;
          display: flex;
          .input-group-prepend .input-group-text {
            background-color: $l-green;
            border: none;
            color: $d-green;
            font-size: 2rem;
          }
          input {
            cursor: pointer;

            background-color: $l-green;
            border: none;
            text-align: right;
            color: $d-green;
            height: 100%;
            font-size: 2rem;
            font-weight: 700;

            &:focus {
              box-shadow: none;
              border: none;
            }
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }

        .active {
          .input-group-prepend .input-group-text {
            border: 3px solid $inpt-bor;
            border-right: none;
          }

          input {
            border: 3px solid $inpt-bor;
            border-left: none;
            cursor: text;

            &:focus {
              border: 3px solid $inpt-bor;
              border-left: none;
            }
          }
        }
      }

      .danger {
        .title span {
          display: block;
        }
        .input-group {
          .input-group-prepend .input-group-text {
            border: 3px solid $danger;
            border-right: none;
          }

          input {
            border: 3px solid $danger;
            border-left: none;
            cursor: text;

            &:focus {
              border: 3px solid $danger;
              border-left: none;
            }
          }
        }

        .title span {
          margin-left: auto;
          color: $danger;
        }
      }

      &-btn_grp {
        margin: 4rem 0;
        .title {
          margin-bottom: 2rem;
        }

        .btn_grp {
          display: grid;
          grid-template-columns: 12rem 12rem 12rem;
          grid-template-rows: 5rem 5rem;
          grid-gap: 1.5rem;
          &-items {
            background-color: $d-green;
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            font-weight: 800;
            color: $while;
            cursor: pointer;
            user-select: none;

            &:hover {
              background-color: $btn-actv-bg;
              color: $d-green;
            }
          }

          .active {
            background-color: $btn-actv-bg;
            color: $d-green;
            input {
              background-color: $btn-actv-bg;
            }
          }

          &-cus {
            background-color: transparent;
            input {
              background-color: $l-green;
              border-radius: 1rem;
              border: none;
              text-align: right;
              color: $d-green;
              height: 100%;
              font-size: 2rem;
              font-weight: 700;
              cursor: pointer;

              &:focus {
                cursor: text;
                box-shadow: none;
                border: 3px solid $inpt-bor;
              }
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
              &::placeholder {
                text-align: center;
              }
            }
          }
        }
      }
    }

    &__scrn {
      background-color: $d-green;
      border-radius: 2rem;
      padding: 4rem;
      padding-top: 5rem;
      display: flex;
      flex-direction: column;

      &-grp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-bottom: 6rem;

        &--title {
          h4 {
            color: $while;
            margin-bottom: 0.5rem;
            font-weight: 700;
          }
          span {
            color: $tit-text;
            font-weight: 800;
          }
        }

        &--display {
          font-size: 3rem;
          font-weight: 700;
          color: $btn-actv-bg;
        }
      }

      &-btn {
        margin-top: auto;
        height: 5rem;
        background-color: $btn-dsb-bg;
        color: $d-green;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 2.5rem;
        text-transform: uppercase;
        user-select: none;
        cursor: none;
        pointer-events: none;
      }

      .active {
        background-color: $btn-actv-bg;
        cursor: pointer;
        pointer-events: all;
      }
    }
  }
}
