.home-page {
  background-color: #34495e;
}
.content {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 200vh;
  padding: 50px;
}
.slideMenu {
  position: absolute;
  top: 0;
  &__icon {
    transition: transform 0.5s linear;
    width: 20rem;
    height: 20rem;
    background-color: #ff7979;
    transform: translate(-50%, -50%) rotate(80deg);
    border-radius: 50%;
    position: fixed;
    font-size: 3rem;
    color: #fafafa;
    div {
      position: absolute;
      cursor: pointer;
    }
    &-close {
      left: 63%;
      top: 60%;
    }
    &-open {
      top: 25%;
      left: 70%;
      transform: rotate(-80deg);
    }
  }
  &__list {
    position: fixed;
    top: 75vh;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: #fafafa;
    margin-left: -20rem;
    transition: 0.5s linear;

    &-item {
      transition: 0.5s linear;
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      margin-bottom: 2rem;
      opacity: 0;
      margin-left: 0rem;
      color: #fafafa;
      text-decoration: none;

      p {
        margin: 0;
        margin-left: 1rem;
      }
      &:hover {
        color: #fafafa;
        text-decoration: none;
      }
    }
  }
  .list-actv {
    margin-left: 0rem;
    .slideMenu__list-item {
      opacity: 1;
      &:first-child {
        margin-left: 3rem;
      }
      &:nth-child(2) {
        margin-left: 5rem;
      }
      &:nth-child(3) {
        margin-left: 7rem;
      }
    }
  }
}
