html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none; }
  html ::-webkit-scrollbar {
    display: none; }

html,
body,
.wrapper {
  width: 100%;
  overflow-x: hidden;
  height: 100%; }

::-webkit-scrollbar {
  display: none; }

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

a {
  color: currentColor;
  text-decoration: none; }
  a:hover {
    color: currentColor;
    text-decoration: none; }

.btn {
  padding: 1.2rem 3.2rem;
  font-weight: 800;
  color: #eaeaff;
  cursor: pointer;
  font-size: 1.2rem; }
  .btn:hover {
    color: #fafafa; }
  .btn-filled {
    background-color: #fafafa;
    color: #ff525c; }
    .btn-filled:hover {
      background-color: #ff7b86;
      -webkit-transition: 0.2s linear;
      transition: 0.2s linear; }
  .btn-rounded {
    border-radius: 3rem; }
  .btn-bored {
    border: 0.1rem solid #fafafa; }
    .btn-bored:hover {
      background-color: #fafafa;
      color: #ff525c; }

.wrapper {
  max-width: 1440px;
  margin: auto; }
  .wrapper .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    border-bottom-left-radius: 8rem;
    position: relative;
    background-image: -webkit-gradient(linear, left top, right top, from(#ff856e), color-stop(#ff856e), color-stop(#ff525c), color-stop(#ff525c), to(#ff525c));
    background-image: linear-gradient(to right, #ff856e, #ff856e, #ff525c, #ff525c, #ff525c); }
    .wrapper .header > * {
      z-index: 1; }
    .wrapper .header__bgImg {
      position: absolute;
      z-index: 0; }
      .wrapper .header__bgImg img {
        -webkit-transform: scale(2) translate(14%, -1%);
        transform: scale(2) translate(14%, -1%); }
    .wrapper .header__navMenu {
      width: 77.2%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      margin-top: 6rem;
      font-size: 1.2rem;
      font-weight: 800;
      color: #fafafa; }
      @media (min-width: 820px) and (max-width: 1439px) {
        .wrapper .header__navMenu {
          width: 85%; } }
      .wrapper .header__navMenu .ham {
        display: none; }
      @media (max-width: 790px) {
        .wrapper .header__navMenu {
          margin-top: 3rem;
          width: 90%; }
          .wrapper .header__navMenu .ham {
            display: block;
            margin-left: auto;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            -webkit-transition: -webkit-transform 400ms;
            transition: -webkit-transform 400ms;
            transition: transform 400ms;
            transition: transform 400ms, -webkit-transform 400ms;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none; }
          .wrapper .header__navMenu .line {
            fill: none;
            -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
            transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
            stroke: #fafafa;
            stroke-width: 5.5;
            stroke-linecap: round; }
          .wrapper .header__navMenu .ham .top {
            stroke-dasharray: 40 160; }
          .wrapper .header__navMenu .ham .middle {
            stroke-dasharray: 40 142;
            -webkit-transform-origin: 50%;
            transform-origin: 50%;
            -webkit-transition: -webkit-transform 400ms;
            transition: -webkit-transform 400ms;
            transition: transform 400ms;
            transition: transform 400ms, -webkit-transform 400ms; }
          .wrapper .header__navMenu .ham .bottom {
            stroke-dasharray: 40 85;
            -webkit-transform-origin: 50%;
            transform-origin: 50%;
            -webkit-transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
            transition: stroke-dashoffset 400ms, -webkit-transform 400ms;
            transition: transform 400ms, stroke-dashoffset 400ms;
            transition: transform 400ms, stroke-dashoffset 400ms, -webkit-transform 400ms; }
          .wrapper .header__navMenu .ham.active {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
            .wrapper .header__navMenu .ham.active .top {
              stroke-dashoffset: -64px; }
            .wrapper .header__navMenu .ham.active .middle {
              -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
            .wrapper .header__navMenu .ham.active .bottom {
              stroke-dashoffset: -64px; } }
      .wrapper .header__navMenu_menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin: 0;
        padding: 0;
        margin-left: 6rem;
        width: 100%;
        height: 100%; }
        .wrapper .header__navMenu_menu-items {
          position: relative;
          margin-right: 3rem;
          height: 100%; }
          .wrapper .header__navMenu_menu-items > a {
            color: #eaeaff; }
          .wrapper .header__navMenu_menu-items ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            position: absolute;
            margin-top: 2rem;
            display: none;
            background-color: #fafafa;
            padding: 2.5rem 2rem 0.5rem 2rem;
            border-radius: 0.5rem;
            min-width: 17rem;
            -webkit-transform: translate(-2.5rem, 0);
            transform: translate(-2.5rem, 0); }
            .wrapper .header__navMenu_menu-items ul > a {
              margin-bottom: 2rem;
              width: 100%;
              font-weight: 400;
              color: #24242c; }
              .wrapper .header__navMenu_menu-items ul > a:hover {
                font-weight: 800; }
          .wrapper .header__navMenu_menu-items:hover ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; }
            .wrapper .header__navMenu_menu-items:hover ul::before {
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              z-index: -12;
              -webkit-transform: translate(-2rem, -3rem);
              transform: translate(-2rem, -3rem); }
        .wrapper .header__navMenu_menu > .btn:nth-child(4) {
          margin-left: auto; }
        @media (max-width: 790px) {
          .wrapper .header__navMenu_menu {
            position: absolute;
            overflow: scroll;
            background-color: #fafafa;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            display: none;
            margin: 0;
            width: 90%;
            border-radius: 1rem;
            max-height: 49rem;
            height: auto;
            overflow-y: scroll;
            left: 50%;
            -webkit-transform: translate(-50%, calc(50% + 5rem));
            transform: translate(-50%, calc(50% + 5rem));
            padding: 3rem 2rem 3rem 2rem;
            font-size: 2rem;
            font-weight: 600; }
            .wrapper .header__navMenu_menu-items {
              margin: 0 0 2rem 0;
              width: 80%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column; }
              .wrapper .header__navMenu_menu-items > a {
                color: #223d52; }
              .wrapper .header__navMenu_menu-items > ul {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                display: flex;
                position: relative;
                background-color: #efeff1;
                width: 100%;
                -webkit-transform: none;
                transform: none; }
                .wrapper .header__navMenu_menu-items > ul > a {
                  font-size: 1.8rem;
                  font-weight: 600;
                  width: -webkit-fit-content;
                  width: -moz-fit-content;
                  width: fit-content;
                  margin-bottom: 1.5rem; }
              .wrapper .header__navMenu_menu-items.hide {
                height: auto; }
                .wrapper .header__navMenu_menu-items.hide > ul {
                  height: 0;
                  overflow: hidden;
                  padding: 0;
                  margin: 0; }
            .wrapper .header__navMenu_menu > .btn:first-of-type {
              font-size: 2rem;
              color: #24242c;
              font-weight: 600;
              margin: 0;
              margin-top: 4rem; }
              .wrapper .header__navMenu_menu > .btn:first-of-type::before {
                content: "";
                width: 80%;
                border: 1px solid #efeff1;
                position: absolute;
                -webkit-transform: translate(-50%, -4rem);
                transform: translate(-50%, -4rem);
                left: 50%; }
            .wrapper .header__navMenu_menu > .btn:last-of-type {
              background: -webkit-gradient(linear, left top, right top, from(#ff856e), color-stop(#ff856e), color-stop(#ff525c), color-stop(#ff525c), to(#ff525c));
              background: linear-gradient(to right, #ff856e, #ff856e, #ff525c, #ff525c, #ff525c);
              color: #fafafa;
              font-size: 2rem;
              font-weight: 600;
              padding: 1rem 3.5rem; } }
      @media (max-width: 790px) {
        .wrapper .header__navMenu_menu.active {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; } }
    .wrapper .header__banner {
      margin-top: 13rem;
      color: #fafafa;
      z-index: 0; }
      .wrapper .header__banner-title {
        font-weight: 600;
        font-size: 4.5rem; }
      .wrapper .header__banner-desc {
        margin-top: 2.5rem;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 400;
        color: #eaeaff; }
      .wrapper .header__banner-option {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        margin-top: 5.5rem; }
        .wrapper .header__banner-option > .btn {
          margin: 0 0.75rem 15rem 0.75rem; }
      @media (max-width: 790px) {
        .wrapper .header__banner-title {
          max-width: 43rem;
          text-align: center;
          margin: auto; }
        .wrapper .header__banner-desc {
          max-width: 43rem;
          text-align: center;
          margin-left: auto;
          margin-right: auto; } }
  .wrapper .body__future {
    color: #223d52;
    background-color: #fafafa;
    overflow: hidden; }
    .wrapper .body__future-title {
      margin-top: 16rem;
      font-size: 3rem;
      text-align: center;
      font-weight: 600; }
    .wrapper .body__future-ctn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .wrapper .body__future-ctn--desc {
        margin-top: 8rem;
        width: 57%;
        padding-left: 16rem;
        padding-right: 13rem; }
        .wrapper .body__future-ctn--desc-items h3 {
          font-size: 2rem;
          font-weight: 600; }
        .wrapper .body__future-ctn--desc-items p {
          margin-top: 3rem;
          font-size: 1.4rem;
          font-weight: 400;
          margin-bottom: 8rem;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical; }
          @media (min-width: 1440px) {
            .wrapper .body__future-ctn--desc-items p {
              -webkit-line-clamp: 8; } }
          @media (min-width: 820px) and (max-width: 1439px) {
            .wrapper .body__future-ctn--desc-items p {
              -webkit-line-clamp: 4; } }
      .wrapper .body__future-ctn--img {
        width: 43%;
        -webkit-transform: scale(2) translate(15%);
        transform: scale(2) translate(15%); }
    @media (max-width: 790px) {
      .wrapper .body__future-title {
        font-size: 3.5rem;
        font-weight: 700; }
      .wrapper .body__future-ctn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }
        .wrapper .body__future-ctn--img {
          width: 70%;
          margin: 25% auto 5% auto;
          -webkit-transform: scale(1.5);
          transform: scale(1.5); }
          .wrapper .body__future-ctn--img img {
            width: 100%;
            content: url("/images/illustration-editor-mobile.svg"); }
        .wrapper .body__future-ctn--desc {
          width: auto;
          padding: 0 15%; }
          .wrapper .body__future-ctn--desc h3 {
            font-size: 2.5rem;
            text-align: center; }
          .wrapper .body__future-ctn--desc p {
            text-align: center; } }
  .wrapper .body__state {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 35rem;
    padding: 0 16rem;
    background-color: #3a3b59;
    border-radius: 0 8rem 0 8rem;
    margin-top: 6rem;
    background-image: url("/images/bg-pattern-circles.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 0rem 0rem; }
    .wrapper .body__state-img, .wrapper .body__state-body {
      width: calc(50% - 2rem); }
    .wrapper .body__state-img {
      -webkit-transform: translate(0, 1.5rem);
      transform: translate(0, 1.5rem); }
    .wrapper .body__state-body h3 {
      font-size: 3rem;
      font-weight: 600;
      color: #fafafa;
      margin-bottom: 3rem; }
    .wrapper .body__state-body p {
      font-size: 1.4rem;
      font-weight: 300;
      color: #eaeaff;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden; }
      @media (min-width: 1440px) {
        .wrapper .body__state-body p {
          -webkit-line-clamp: 6; } }
      @media (min-width: 820px) and (max-width: 1439px) {
        .wrapper .body__state-body p {
          -webkit-line-clamp: 5; } }
    @media (max-width: 790px) {
      .wrapper .body__state {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        padding: 0;
        height: 65rem;
        margin-top: 50%;
        background-size: 100%;
        background-position-y: -20rem; }
        .wrapper .body__state-img {
          width: 100%;
          -webkit-transform: none;
          transform: none;
          top: -18rem;
          position: relative; }
          .wrapper .body__state-img > img {
            width: 100%; }
        .wrapper .body__state-body {
          width: 80%;
          position: relative;
          top: -35%; }
          .wrapper .body__state-body h3 {
            font-size: 3rem;
            font-weight: 700;
            text-align: center; }
          .wrapper .body__state-body p {
            text-align: center;
            font-size: 1.5rem; } }
  .wrapper .body__feature {
    margin-top: 20rem;
    padding-right: 18rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .wrapper .body__feature-img {
      width: 62rem; }
      .wrapper .body__feature-img img {
        -webkit-transform: scale(1.4) translate(-8.8rem, 0);
        transform: scale(1.4) translate(-8.8rem, 0); }
    .wrapper .body__feature-ctn {
      width: 53rem; }
      .wrapper .body__feature-ctn--prg h4 {
        font-size: 2.3rem;
        font-weight: 700;
        color: #223d52;
        margin-bottom: 2.5rem; }
      .wrapper .body__feature-ctn--prg p {
        font-size: 1.2rem;
        font-weight: 400;
        color: #223d52;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden; }
        @media (min-width: 1440px) {
          .wrapper .body__feature-ctn--prg p {
            -webkit-line-clamp: 6; } }
        @media (min-width: 820px) and (max-width: 1439px) {
          .wrapper .body__feature-ctn--prg p {
            -webkit-line-clamp: 5; } }
      .wrapper .body__feature-ctn--prg:first-child {
        margin-bottom: 7rem; }
    @media (max-width: 790px) {
      .wrapper .body__feature {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0; }
        .wrapper .body__feature-img {
          width: 100%; }
          .wrapper .body__feature-img img {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            content: url("/images/illustration-laptop-mobile.svg");
            left: 50%;
            position: relative;
            -webkit-transform: translate(-50%, -20%) scale(1.2);
            transform: translate(-50%, -20%) scale(1.2);
            width: 100%; }
        .wrapper .body__feature-ctn {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
          .wrapper .body__feature-ctn--prg {
            text-align: center;
            width: 80%; } }
  .wrapper .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 20rem;
    color: #fafafa;
    background-color: #24242c;
    height: 36rem;
    border-radius: 0 8rem 0 0;
    padding: 8rem 16rem 0 16rem; }
    @media (min-width: 820px) and (max-width: 1439px) {
      .wrapper .footer {
        padding: 8rem 8rem 0 8rem; } }
    .wrapper .footer__col {
      width: 25%; }
      .wrapper .footer__col ul {
        font-size: 1.3rem;
        font-weight: 600;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .wrapper .footer__col ul a {
          font-size: 1.2rem;
          font-weight: 400;
          color: #bcbdc2;
          margin-bottom: 1rem; }
          .wrapper .footer__col ul a:first-child {
            margin-top: 3.5rem; }
          .wrapper .footer__col ul a:hover {
            text-decoration: underline; }
    @media (max-width: 790px) {
      .wrapper .footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 0; }
        .wrapper .footer__col {
          width: 80%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
          .wrapper .footer__col ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column; }
            .wrapper .footer__col ul a:first-child {
              margin-top: 2rem; }
            .wrapper .footer__col ul a:last-child {
              margin-bottom: 3rem; }
          .wrapper .footer__col:first-child {
            margin: 5rem 0 4rem 0; } }
