html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  overflow-x: hidden; }

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

.home-page {
  background-color: #34495e; }

.content {
  background-color: #fafafa;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  width: 100vw;
  min-height: 200vh;
  padding: 50px; }

.slideMenu {
  position: absolute;
  top: 0; }
  .slideMenu__icon {
    -webkit-transition: -webkit-transform 0.5s linear;
    transition: -webkit-transform 0.5s linear;
    transition: transform 0.5s linear;
    transition: transform 0.5s linear, -webkit-transform 0.5s linear;
    width: 20rem;
    height: 20rem;
    background-color: #ff7979;
    -webkit-transform: translate(-50%, -50%) rotate(80deg);
    transform: translate(-50%, -50%) rotate(80deg);
    border-radius: 50%;
    position: fixed;
    font-size: 3rem;
    color: #fafafa; }
    .slideMenu__icon div {
      position: absolute;
      cursor: pointer; }
    .slideMenu__icon-close {
      left: 63%;
      top: 60%; }
    .slideMenu__icon-open {
      top: 25%;
      left: 70%;
      -webkit-transform: rotate(-80deg);
      transform: rotate(-80deg); }
  .slideMenu__list {
    position: fixed;
    top: 75vh;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: #fafafa;
    margin-left: -20rem;
    -webkit-transition: 0.5s linear;
    transition: 0.5s linear; }
    .slideMenu__list-item {
      -webkit-transition: 0.5s linear;
      transition: 0.5s linear;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin-bottom: 2rem;
      opacity: 0;
      margin-left: 0rem;
      color: #fafafa;
      text-decoration: none; }
      .slideMenu__list-item p {
        margin: 0;
        margin-left: 1rem; }
      .slideMenu__list-item:hover {
        color: #fafafa;
        text-decoration: none; }
  .slideMenu .list-actv {
    margin-left: 0rem; }
    .slideMenu .list-actv .slideMenu__list-item {
      opacity: 1; }
      .slideMenu .list-actv .slideMenu__list-item:first-child {
        margin-left: 3rem; }
      .slideMenu .list-actv .slideMenu__list-item:nth-child(2) {
        margin-left: 5rem; }
      .slideMenu .list-actv .slideMenu__list-item:nth-child(3) {
        margin-left: 7rem; }
