extends layout/layout

block vars
	-title = 'Home'
	-bodyClass = 'home-page'

block container
	header.header 
		a(href="#").logo sunnyside
		.header__menu
			a(href="#").header__menu-items About
			a(href="#").header__menu-items Services
			a(href="#").header__menu-items Projects
			a(href="#").header__menu-items Contact
	section.banner-header 
		.banner-header__title We are creative 
		object(data="/images/icon-arrow-down.svg", type="") 
	section.banner-body 
		.banner-body__items 
			.banner-body__items-detail 
				h4 Tranform your brand
				p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati unde blanditiis officiis dolores vero facilis facere alias labore eaque, adipisci debitis, quidem expedita repellat quis consequuntur beatae sint corporis accusantium quo quaerat nihil doloribus dolorem aliquam est. Similique, quis eaque harum cum provident eveniet architecto laborum minima aliquid voluptates illum?
				a(href="#") learn more
			.banner-body__items-image 
				img(src="/images/desktop/image-transform.jpg", alt="alt")
		.banner-body__items 
			.banner-body__items-detail 
				h4 Tranform your brand
				p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati unde blanditiis officiis dolores vero facilis facere alias labore eaque, adipisci debitis, quidem expedita repellat quis consequuntur beatae sint corporis accusantium quo quaerat nihil doloribus dolorem aliquam est. Similique, quis eaque harum cum provident eveniet architecto laborum minima aliquid voluptates illum?
				a(href="#") learn more
			.banner-body__items-image 
				img(src="/images/desktop/image-stand-out.jpg", alt="alt")
		.banner-body__items 
			.banner-body__items-side 
				h4 Graphic Design 
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quas, rem soluta deleniti dicta nam temporibus dolore sit velit neque illo odio quibusdam quae, sequi quaerat beatae facilis et ratione repellendus maxime suscipit nesciunt tenetur.
			.banner-body__items-side 
				h4 Graphic Design 
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quas, rem soluta deleniti dicta nam temporibus dolore sit velit neque illo odio quibusdam quae, sequi quaerat beatae facilis et ratione repellendus maxime suscipit nesciunt tenetur.
	section.client
		.client__items 
			.client__items-avt 
				img(src="/images/image-emily.jpg", alt="alt") 
			.client__items-cmt Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate mollitia laboriosam voluptatum? Iste, mollitia optio magnam, tempore assumenda perspiciatis beatae culpa natus quia, temporibus repudiandae aspernatur corporis impedit dicta officiis qui sed quis quo fuga?
			.client__items-detail
				h5 Emily R.
				span Marketing Director
		.client__items 
			.client__items-avt 
				img(src="/images/image-thomas.jpg", alt="alt") 
			.client__items-cmt Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate mollitia laboriosam voluptatum? Iste, mollitia optio magnam, tempore assumenda perspiciatis beatae culpa natus quia, temporibus repudiandae aspernatur corporis impedit dicta officiis qui sed quis quo fuga?
			.client__items-detail
				h5 Thomas S.
				span Chief Operating Officer
		.client__items 
			.client__items-avt 
				img(src="/images/image-jennie.jpg", alt="alt") 
			.client__items-cmt Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate mollitia laboriosam voluptatum? Iste, mollitia optio magnam, tempore assumenda perspiciatis beatae culpa natus quia, temporibus repudiandae aspernatur corporis impedit dicta officiis qui sed quis quo fuga?
			.client__items-detail
				h5 Jennie F.
				span Business Owner
	section.gallery 
		.gallery__items 
			img(src="/images/desktop/image-gallery-milkbottles.jpg", alt="alt")
		.gallery__items 
			img(src="/images/desktop/image-gallery-orange.jpg", alt="alt")
		.gallery__items 
			img(src="/images/desktop/image-gallery-cone.jpg", alt="alt")
		.gallery__items 
			img(src="/images/desktop/image-gallery-sugarcubes.jpg", alt="alt")
	footer.footer 
		.footer__title sunnyside
		.footer__menu 
			a(href="#").footer__menu-items About
			a(href="#").footer__menu-items Service
			a(href="#").footer__menu-items Project 
		.footer__social 
			a(href="#").footer__social-items 
				object(data="/images/icon-facebook.svg", type="") 
			a(href="#").footer__social-items 
				object(data="/images/icon-instagram.svg", type="") 
			a(href="#").footer__social-items 
				object(data="/images/icon-twitter.svg", type="") 
			a(href="#").footer__social-items 
				object(data="/images/icon-pinterest.svg", type="") 