extends layout/layout

block vars
	-title = 'Home'
	-bodyClass = 'home-page'

block container
	.container 
		h1 Scroll! Now!!!!!!!!!!! 
		.ctn content
		.ctn content
		.ctn content
		.ctn content
		.ctn content
		.ctn content
		.ctn content
		.ctn content
		.ctn content
		.ctn content
		.ctn content
		.ctn content
		.ctn content