extends layout/layout

block vars
	-title = 'Home'
	-bodyClass = 'home-page'

block container
	.cards 
		.cards__item.active
			h2 noel 
		.cards__item
			h2 amber 
		.cards__item
			h2 ayaya 
		.cards__item
			h2 eula 
		.cards__item
			h2 keqing 