extends layout/layout

block vars
	-title = 'Home'
	-bodyClass = 'home-page'

block container
	.prog
		.prog__view 
			.prog__view-bar 
			.prog__view-dot 1
			.prog__view-dot 2
			.prog__view-dot 3
			.prog__view-dot 4
		.prog__control
			.btn.prog__control-prev(disabled) Prev
			.btn.prog__control-next Next