extends layout/layout

block vars
	-title = 'Home'
	-bodyClass = 'home-page'

block container
	.container 
		.caculator 
			.caculator__key 
				.form-group.caculator__key-input
					label.title(for="bill") Bill
					.input-group.mb-3.active
						.input-group-prepend
							span.input-group-text $
						input.form-control#bill(type="number" placeholder="0")
			
				.caculator__key-btn_grp
					label.title Select Tip %
					.btn_grp
						.btn_grp-items 5%
						.btn_grp-items 10%
						.btn_grp-items.active 15%
						.btn_grp-items 20%
						.btn_grp-items 25%
						.btn_grp-items.btn_grp-cus.active
							input.form-control(type="number", placeholder="Custom")

				.form-group.caculator__key-input.danger
					label.title(for="people") Number of People
						span Can't be zero
					.input-group.mb-3
						.input-group-prepend
							span.input-group-text 
								i.fas.fa-user
						input.form-control#people(type="number" placeholder="0")
			
			.caculator__scrn
				.caculator__scrn-grp 
					.caculator__scrn-grp--title 
						h4 Tip Amount
						span /person
					.caculator__scrn-grp--display $0.00

				.caculator__scrn-grp 
					.caculator__scrn-grp--title 
						h4 Total
						span /person
					.caculator__scrn-grp--display $0.00

				.caculator__scrn-btn.active reset