extends layout/layout

block vars
	-title = 'Home'
	-bodyClass = 'home-page'

block container
	.container 
		.dsbctn 
			.dsbctn_main 
				.dsbctn_main__detail 
					.dsbctn_main__detail-avt 
						img(src="/images/image-jeremy.png", alt="") 
					.dsbctn_main__detail-name
						span Report for 
						p Jeremy Robson
				.dsbctn_main__menu 
					.dsbctn_main__menu-items Daily
					.dsbctn_main__menu-items.actived Weekly
					.dsbctn_main__menu-items Monthly

			.dsbctn_items
				.dsbctn_items-icon 
					object(data="/images/icon-work.svg", width="79" height="79") 
				.dsbctn_items-detail 
					.dsbctn_items-detail--nav
						span Work 
						a(href="#") 
							object(data="/images/icon-ellipsis.svg", width="21" height="5") 
					.dsbctn_items-detail--desc
						h4 32hrs
						p Last Week - 36hrs
			.dsbctn_items
				.dsbctn_items-icon
					object(data="/images/icon-play.svg", width="79" height="79") 
				.dsbctn_items-detail 
					.dsbctn_items-detail--nav
						span Play 
						a(href="#") 
							object(data="/images/icon-ellipsis.svg", width="21" height="5") 
					.dsbctn_items-detail--desc
						h4 10hrs
						p Last Week - 8hrs
			.dsbctn_items
				.dsbctn_items-icon
					object(data="/images/icon-study.svg", width="79" height="79") 
				.dsbctn_items-detail 
					.dsbctn_items-detail--nav
						span Study 
						a(href="#") 
							object(data="/images/icon-ellipsis.svg", width="21" height="5") 
					.dsbctn_items-detail--desc
						h4 4hrs
						p Last Week - 7hrs
			.dsbctn_items
				.dsbctn_items-icon
					object(data="/images/icon-exercise.svg", width="79" height="79") 
				.dsbctn_items-detail 
					.dsbctn_items-detail--nav
						span Exercise 
						a(href="#") 
							object(data="/images/icon-ellipsis.svg", width="21" height="5") 
					.dsbctn_items-detail--desc
						h4 4hrs
						p Last Week - 5hrs
			.dsbctn_items
				.dsbctn_items-icon
					object(data="/images/icon-social.svg", width="79" height="79") 
				.dsbctn_items-detail 
					.dsbctn_items-detail--nav
						span Social 
						a(href="#") 
							object(data="/images/icon-ellipsis.svg", width="21" height="5") 
					.dsbctn_items-detail--desc
						h4 5hrs
						p Last Week - 10hrs
			.dsbctn_items
				.dsbctn_items-icon
					object(data="/images/icon-self-care.svg", width="79" height="79") 
				.dsbctn_items-detail 
					.dsbctn_items-detail--nav
						span Self Care 
						a(href="#") 
							object(data="/images/icon-ellipsis.svg", width="21" height="5") 
					.dsbctn_items-detail--desc
						h4 2hrs
						p Last Week - 2hrs
