extends layout/layout

block vars
	-title = 'Home'
	-bodyClass = 'home-page'

block container
	header.header
		.header__bgImg
			img(src="./images/bg-pattern-intro-desktop.svg", alt="")
		.header__navMenu 
			img(src="./images/logo.svg", alt="", srcset="") 
			svg.ham(viewBox="0 0 100 100", width="80", onclick="triggerMenuMobile(this)")
				path.line.top(d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20")
				path.line.middle(d="m 30,50 h 40")
				path.line.bottom(d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20")
			ul.header__navMenu_menu 
				li.header__navMenu_menu-items.hide
					a(href="#")  Product
					ul
						a(href="#") lorem
						a(href="#") isum  
						a(href="#") prais  
				li.header__navMenu_menu-items.hide
					a(href="#") Company
					ul
						a(href="#") lorem
						a(href="#") isum  
						a(href="#") prais  
				li.header__navMenu_menu-items.hide
					a(href="#") Connect 
					ul
						a(href="#") lorem
						a(href="#") isum  
						a(href="#") prais  
				.btn.btn-rounded Login 
				.btn.btn-rounded.btn-filled Sign up

		.header__banner 
			.header__banner-title A modern publishing platform 
			.header__banner-desc Grow your audience and build your online brand
			.header__banner-option 
				.btn.btn-filled.btn-rounded Start for Free 
				.btn.btn-bored.btn-rounded Learn More 
	section.body 
		.body__future 
			.body__future-title Designed for the future  
			.body__future-ctn
				.body__future-ctn--desc
					.body__future-ctn--desc-items
						h3 Inroducing an extensible editor 
						p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias explicabo sint accusantium beatae libero laboriosam quisquam at quidem id. Necessitatibus quia earum iste perferendis at asperiores corporis doloribus quisquam hic aliquam sint accusamus aspernatur reprehenderit voluptatibus ad quibusdam, praesentium suscipit aliquid veniam! Architecto, perspiciatis cumque. Ea distinctio error suscipit quo. Tempora neque animi commodi aspernatur. Aliquid doloribus ad odio aut.
					.body__future-ctn--desc-items
						h3 Robust content management 
						p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, illum sed ipsa alias quod tempore iure, nobis a temporibus optio excepturi delectus amet quam officiis architecto accusantium exercitationem, quaerat modi veritatis id placeat vel ducimus. Similique perspiciatis, quam reiciendis nostrum sit optio nemo unde quidem, tenetur.
				.body__future-ctn--img
					img(src="./images/illustration-editor-desktop.svg", alt="")
		.body__state 
			.body__state-img 
				img(src="./images/illustration-phones.svg", alt="", srcset="")
			.body__state-body 
				h3 State of the Art Infrastructure 
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus rerum nobis corporis consectetur, quibusdam eligendi vel magnam ullam saepe! Deleniti dolor suscipit est accusamus aliquam ipsam nam dolorem autem adipisci, vero, aperiam tenetur, sapiente esse quidem reiciendis aut eius! Dolore dolores, reprehenderit rerum et inventore ab excepturi. Est delectus illum nisi vitae.
		.body__feature 
			.body__feature-img
				img(src="./images/illustration-laptop-desktop.svg", alt="")
			.body__feature-ctn
				.body__feature-ctn--prg
					h4 Free, open, simple 
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti officiis ratione reiciendis assumenda neque deserunt accusamus placeat illo dolores repellendus voluptates maiores, nesciunt dolorum beatae soluta modi et ipsa repudiandae nobis ipsam eos, illum ut quasi? Eligendi consequatur deleniti nulla voluptate quae tempore reiciendis? Culpa voluptates, commodi voluptas labore qui delectus aliquam nulla nam repellendus optio aperiam et minima earum deserunt. Fugiat ipsa temporibus odio?
				.body__feature-ctn--prg
					h4 Powerfull tooling 
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae accusantium cum accusamus distinctio fuga, laudantium officia ipsam iusto? Cupiditate, maxime molestiae. Facere molestias tempora alias, rerum unde corporis impedit ducimus obcaecati sequi libero et fugiat facilis iure sit consequatur aperiam deleniti pariatur nobis!
	footer.footer 
		.footer__col 
			img(src="./images/logo.svg", alt="")
		.footer__col 
			ul Product 
				a(href="#") Overview 
				a(href="#") Pricing 
				a(href="#") Marketplace 
				a(href="#") Features 
				a(href="#") Integrations
		.footer__col 
			ul Company 
				a(href="#") About 
				a(href="#") Team 
				a(href="#") Blog 
				a(href="#") Careers 
		.footer__col 
			ul Connect
				a(href="#") Contact 
				a(href="#") Newsletter 
				a(href="#") Linkedln 