extends layout/layout

block vars
	-title = 'Home'
	-bodyClass = 'home-page'

block container
	header.header
		img(src="/images/bg-pattern-intro-desktop.svg", alt="").header__bgImg
		.header__navMenu 
			img(src="/images/logo.svg", alt="", srcset="") 
			ul.header__navMenu_menu 
				li.header__navMenu_menu-items
					a(href="#")  Product
					ul
						a(href="#") lorem
						a(href="#") isum  
						a(href="#") prais  
				li.header__navMenu_menu-items
					a(href="#") Company
					ul
						a(href="#") lorem
						a(href="#") isum  
						a(href="#") prais  
				li.header__navMenu_menu-items
					a(href="#") Connect 
					ul
						a(href="#") lorem
						a(href="#") isum  
						a(href="#") prais  
			.btn.btn-rounded Login 
			.btn.btn-rounded.btn-filled Sign up
		.header__banner 
			.header__banner-title A modern publishing platform 
			.header__banner-desc Grow your audience and build your online brand
			.header__banner-option 
				.btn.btn-filled.btn-rounded Start for Free 
				.btn.btn-bored.btn-rounded Learn More 
	section.body 
		.body__future 
			.body__future-title Designed for the future  
			.body__future-ctn
				.body__future-ctn--desc
					.body__future-ctn--desc-items
						h3 Inroducing an extensible editor 
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, unde. Id impedit eveniet quam cupiditate labore architecto. Aperiam eligendi sunt soluta beatae cum quae asperiores perferendis quas cumque a excepturi delectus alias, velit eveniet, maxime molestias ullam? Repellat incidunt impedit exercitationem eos ex error aspernatur enim soluta temporibus. Sit accusamus obcaecati voluptatibus dignissimos molestias dolore aut quasi! Deserunt nemo repudiandae, possimus dolorem sit nobis ratione. Odit quibusdam aperiam accusamus nesciunt aliquam? Veniam minima, nemo asperiores exercitationem omnis, nihil, quia aliquam laudantium dolore ipsum inventore enim ipsa? Rerum tenetur reiciendis ea itaque iusto suscipit labore numquam. Reprehenderit id ab, dolorum quod quae unde possimus sunt dignissimos veritatis culpa saepe tempore voluptatem molestias harum atque nostrum obcaecati cupiditate magnam, numquam facere velit enim. Quisquam veritatis adipisci quae expedita! Quibusdam facilis beatae error neque accusantium? Unde error ad odit dicta. At facilis quia qui accusantium necessitatibus possimus consequuntur nostrum facere itaque esse neque repellendus corrupti dicta perferendis temporibus, molestias sed, sequi libero assumenda eius sunt molestiae laboriosam. Minus, ab ducimus quas labore dolorem eum assumenda, iure aspernatur natus animi delectus ullam harum nihil repudiandae non. Doloribus sit ipsam maiores, possimus nisi incidunt cumque iure, quasi enim at quae consequatur, itaque voluptates. Quae aspernatur quos rem hic enim architecto modi. Odio dolor recusandae consectetur incidunt corporis quae necessitatibus, doloremque neque veritatis voluptas nostrum autem blanditiis ipsa quisquam possimus ex quos tempore explicabo porro nihil quidem enim dolore debitis! Repudiandae impedit sint mollitia fugit eveniet officiis iusto molestiae, iure ipsa ratione odit, veniam molestias. Asperiores deleniti accusantium pariatur dolores ex?
					.body__future-ctn--desc-items
						h3 Robust content management 
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita sit quod aspernatur commodi ipsam sequi obcaecati officia, hic enim nesciunt dolorum veniam tempore quae, rerum libero! Aspernatur quod eligendi culpa laborum consequuntur accusantium fuga vel facere dolorem esse delectus illum veniam qui a distinctio quis at, laudantium dicta consectetur quasi tenetur? Pariatur aliquid, vel maiores voluptatum, asperiores amet, officiis dolorum ut consequuntur minima distinctio. At explicabo beatae cupiditate quas ad, debitis adipisci sed tenetur ab fugiat ratione, reprehenderit, sapiente doloribus nobis ipsum similique. Beatae consequuntur quisquam reprehenderit ipsa vero hic animi explicabo omnis quo rerum a deserunt reiciendis, ut rem pariatur eos consectetur sunt cupiditate optio autem officiis! Officiis, esse ab aliquam velit maiores quas, impedit veniam quisquam voluptates possimus, magnam praesentium officia cumque quae ratione facilis pariatur! Quae pariatur inventore facilis consequuntur nam. Aspernatur beatae voluptate et quo error numquam culpa saepe doloribus animi aliquid. Corporis sint ad expedita sit cum, voluptas id quos aspernatur repellendus illo possimus nobis. Odit possimus quam vel nulla velit ullam deleniti sit deserunt, exercitationem corrupti rerum, minus veritatis aut illum laboriosam ipsum quas non rem unde. Veritatis, nihil! Odio eius dolore nesciunt vel exercitationem eum enim, a in omnis eligendi reprehenderit, non aut minima quam distinctio maiores temporibus dolor recusandae. Illo ipsa alias earum qui commodi quibusdam minus maiores nostrum odio a magni quis iusto quisquam nihil nobis, velit recusandae in adipisci perspiciatis mollitia? Molestiae, ullam maxime perspiciatis debitis nisi autem vel dolorum velit aliquam asperiores, quos perferendis ratione dolor veritatis soluta harum nobis dignissimos impedit iste repellat!
				.body__future-ctn--img
					img(src="/images/illustration-editor-mobile.svg", alt="")
		.body__state 
			.body__state-img 
				img(src="/images/illustration-phones.svg", alt="", srcset="")
			.body__state-body 
				h3 State of the Art Infrastructure 
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas beatae molestiae ipsum inventore itaque dolorum dolore obcaecati vero? Molestias veniam aut ea vel ipsam laborum ducimus quaerat beatae non iusto dicta quas explicabo corporis nulla fugiat deleniti adipisci voluptates, vitae cumque excepturi esse accusantium animi? Numquam fugit error doloribus iste deleniti a alias corporis, dolorem quisquam reprehenderit perferendis ducimus exercitationem temporibus labore. Esse hic a quisquam enim laudantium natus quod aliquam laborum rerum doloribus officiis facilis quos eos, quaerat ipsa nobis dignissimos itaque alias fuga ullam dolore ea? Tempora magnam iusto officia, obcaecati suscipit quos tenetur nostrum! Voluptatem numquam totam itaque quae, omnis ut, aspernatur eos alias cupiditate odit debitis delectus saepe quis unde laboriosam sit ullam cum. Nam dolor odio voluptatum non ab. Laboriosam.
		.body__feature 
			.body__feature-img
				img(src="/images/illustration-laptop-desktop.svg", alt="")
			.body__feature-ctn
				.body__feature-ctn--prg
					h4 Free, open, simple 
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente at error quod incidunt alias qui quasi officiis atque, velit animi quo unde explicabo! Accusantium voluptatem itaque, facilis dolorum facere et? Itaque quos mollitia facere esse perferendis molestiae, officia impedit perspiciatis nostrum corrupti inventore natus. Veritatis adipisci aut quam temporibus. Voluptas, maxime. Ipsa, nesciunt nam exercitationem delectus sit et earum ad accusamus cum, consequatur repudiandae alias sapiente asperiores commodi dignissimos velit magni atque eaque eos doloribus? Fugiat aut adipisci corporis tempora, hic voluptatem ad commodi optio suscipit repellat magni aspernatur consectetur amet laboriosam explicabo illum quibusdam earum a delectus iste? Tenetur necessitatibus, repellendus atque accusamus inventore beatae, illum laudantium sint ducimus explicabo laborum repellat consectetur magnam voluptatum assumenda praesentium ipsa reiciendis placeat qui cupiditate natus eligendi. Iure reprehenderit, pariatur similique at voluptates omnis, nostrum quasi libero in quo natus. Voluptatem deleniti consequuntur quo omnis, atque quidem ipsum officiis amet. Tenetur, suscipit?
				.body__feature-ctn--prg
					h4 Powerfull tooling 
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente at error quod incidunt alias qui quasi officiis atque, velit animi quo unde explicabo! Accusantium voluptatem itaque, facilis dolorum facere et? Itaque quos mollitia facere esse perferendis molestiae, officia impedit perspiciatis nostrum corrupti inventore natus. Veritatis adipisci aut quam temporibus. Voluptas, maxime. Ipsa, nesciunt nam exercitationem delectus sit et earum ad accusamus cum, consequatur repudiandae alias sapiente asperiores commodi dignissimos velit magni atque eaque eos doloribus? Fugiat aut adipisci corporis tempora, hic voluptatem ad commodi optio suscipit repellat magni aspernatur consectetur amet laboriosam explicabo illum quibusdam earum a delectus iste? Tenetur necessitatibus, repellendus atque accusamus inventore beatae, illum laudantium sint ducimus explicabo laborum repellat consectetur magnam voluptatum assumenda praesentium ipsa reiciendis placeat qui cupiditate natus eligendi. Iure reprehenderit, pariatur similique at voluptates omnis, nostrum quasi libero in quo natus. Voluptatem deleniti consequuntur quo omnis, atque quidem ipsum officiis amet. Tenetur, suscipit?
	footer.footer 
		.footer__col 
			img(src="/images/logo.svg", alt="")
		.footer__col 
			ul Product 
				a(href="#") Overview 
				a(href="#") Pricing 
				a(href="#") Marketplace 
				a(href="#") Features 
				a(href="#") Integrations
		.footer__col 
			ul Company 
				a(href="#") About 
				a(href="#") Team 
				a(href="#") Blog 
				a(href="#") Careers 
		.footer__col 
			ul Connect
				a(href="#") Contact 
				a(href="#") Newsletter 
				a(href="#") Linkedln 